:root {
  /* Colors */
  --clr-purple-50: hsl(260, 100%, 95%);
  --clr-purple-300: hsl(264, 82%, 80%);
  --clr-purple-500: hsl(263, 55%, 52%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-grey-100: hsl(214, 17%, 92%);
  --clr-grey-200: hsl(0, 0%, 81%);
  --clr-grey-400: hsl(224, 10%, 45%);
  --clr-grey-500: hsl(217, 19%, 35%);
  --clr-dark-blue: hsl(219, 29%, 14%);
  --clr-black: hsl(0, 0%, 7%);

  /* Font */
  --ff-barlow: "Barlow Semi Condensed", sans-serif;

  --fw-small: 500;
  --fw-large: 600;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.3rem;
  font-family: var(--ff-barlow);
  line-height: 1.1;
  background-color: var(--clr-grey-100);
  color: var(--clr-white);
}

img {
  display: block;
  max-width: 100%;
}

/* Composition */
.wrapper {
  max-width: 100rem;
  margin: 20rem auto;
}

.section-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

/* Utilities */
.bg-grey {
  background-color: var(--clr-grey-500);
}

/* Block */
.card {
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--clr-white);
  box-shadow: 0.2rem 0.2rem 1rem 0.1rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card:first-child {
  grid-column: span 2;
  background-color: var(--clr-purple-500);
  position: relative;
}

.card:first-child::before {
  font-family: sans-serif;
  content: "\201C";
  font-size: 40rem;

  position: absolute;
  top: -7rem;
  right: 5rem;
  opacity: 0.15;
  pointer-events: none;
}

.card:nth-child(2) {
  background-color: var(--clr-grey-500);
}

.card:nth-child(4) {
  grid-column: span 2;
  background-color: var(--clr-dark-blue);
}

.card:nth-child(3),
.card:nth-child(5) {
  color: var(--clr-grey-500);
}

.card:last-child {
  grid-column: 4;
  grid-row: 1 / 3;
}

.card__profile {
  display: flex;
  gap: 1.5rem;
}

.card__profile-credentials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__profile-img-box {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

/* Exception */
.card__profile-img-box[data-ring="clr-white"] {
  border: 0.15rem solid var(--clr-white);
}

.card__profile-img-box[data-ring="clr-purple"] {
  border: 0.15rem solid var(--clr-purple-300);
}

/* Media queries - Responsive */
@media screen and (max-width: 1024px) {
  .wrapper {
    margin: 10rem 2rem;
  }

  .section-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .card:last-child {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    margin: 2rem 2rem;
  }

  .section-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .card:nth-child(1),
  .card:nth-child(2),
  .card:nth-child(3),
  .card:nth-child(4),
  .card:nth-child(5) {
    grid-row: auto;
    grid-column: auto;
  }
}

@media screen and (min-max: 425px) {
  .card:first-child::before {
    opacity: 0;
  }
}
